<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <h1>Links</h1>
    <a href="/add">Adicionar novo Link</a>
    <% for(let i=0; i<links.length; i++){ %> 
        <div id="<%=links[i]._id %>">
            <form method="POST" action="/<%=links[i]._id %>?_method=DELETE">
                <!-- Como visto no arquivo anterior 'all.ejs', um formulario só envia os metodos 'get e post', porém é possivel sobrescrever isso com o módulo 'method-override'. Neste formulario temos as tags e os parametros necessarios para funcionar com o 'override'. -->
                <h2><%=links[i].title %></h2>
                <div><%=links[i].description %></div>
                <div><%=links[i].url %></div>
                <button type="submit">Delete</button>
            </form>
        </div>
    <% } %> 

    
</body>
</html>